$color-orange: #dc6829;

@import "bourbon";
@import "_reset";

$color: #555;
	$color-darker: #444;
	$color-lighter: #888;
$color-lightgrey: #f9f9f9;
$color-gold: #caa048;
$color-deal: #cd5028;

$box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

$font: 'Work Sans', sans-serif;
$font-courier: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

$margin: 15px;

$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$desktop-lg: 1200px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
$desktop-max: $desktop-lg - 1;

// -------------------------------
// GLOBAL
// -------------------------------

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}
body {
	overflow: hidden;
	background-color:#fff;
	line-height:1.4;
	text-rendering: optimizeLegibility;
	color: $color;
	font-size: 14px;
	font-family: $font;
}


a, a:before, a:after {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	        transition: all .25s;
}
a, a:visited {
	color: $color-gold;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-darker;
	font-weight: 600;
}

h2 {
	font-size: 21px;
}

blockquote {
	font-style:italic !important;
	margin-bottom: 15px;
  background: #f2f2f1;
  border-left: 2px solid #ddd;
  padding: 15px;
}

img {
	max-width: 100%;
	height: auto;
}

::selection {
	color: #fff;
	background-color: $color-gold;
}

::-moz-selection {
	color: #fff;
	background-color: $color-gold;
}

.container {
	max-width: 990px;
	padding: 0 $margin;
	margin: 0 auto;
}

.main {
	margin: $margin*3 0;
}

// -------------------------------
// HEADER
// -------------------------------

.header {
	padding: 30px 0;
}

.logo {
	display: inline-block;
	width: 246px;
	height: 80px;
	background: url(../img/logo.png) no-repeat;
	background-size: 246px 80px;
	@include hide-text;
	vertical-align: middle;
}

.site-description {
	display: inline-block;
	color: $color-lighter;
	font-weight: 400;
	font-size: 14px;
	max-width: 200px;
}

.title-bar {
	background-color: $color-lightgrey;
	padding: 20px 0;
	font-family: $font-courier;
	color: $color-darker;
	font-size: 16px;
}

// -------------------------------
// LOOP
// -------------------------------

.loop {
	@include display(flex);
	@include flex-wrap(wrap);
	list-style: none;
	padding-left: 0;
	margin: 0 (-$margin);

	> li {
		width: 330px;
		padding: 0 $margin;
		margin-bottom: $margin*5;
	}
}

// -------------------------------
// ARTICLE
// -------------------------------

.article__image {
	img {
		display: block;
		box-shadow: $box-shadow;
		@include transition(box-shadow .1s linear);
	}

	a:hover {
		img {
			box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
		}
	}
}

h2.article__title {
	margin-bottom: 0;
	margin-top: $margin;

	a {
		color: $color-darker;

		&:hover {
			color: $color-gold;
		}
	}
}

.article__time {
	font-family: $font-courier;
	margin-bottom: $margin;
	color: $color-lighter;
}

.article__cat {
	font-size: 12px;

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;

		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: $margin;
			}
		}
	}

	a {
		display: block;
		background: $color-gold;
		color: #fff;
		line-height: 22px;
		padding: 0 6px;
		position: relative;

		&:hover {
			background-color: darken($color-gold,5);

			&:after {
				border-left-color: darken($color-gold,5);
			}
		}

		&:after {
			width: 0;
			height: 0;
			border: 11px solid;
			border-color: transparent;
			border-left-color: $color-gold;
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
		}
	}
}


// -------------------------------
// AD
// -------------------------------

.ad--leaderboard {
	margin: $margin*2 0;
	text-align: center;
}