$color-orange: #dc6829;

@import "bourbon";
@import "_reset";

$color: #555;
	$color-darker: #444;
	$color-lighter: #888;
$color-lightgrey: #f9f9f9;
$color-gold: #caa048;
$color-deal: #cd5028;

$box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

$font: 'Work Sans', sans-serif;
$font-courier: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

$margin: 15px;

$screen-sm: 480px;
$screen-md: 690px;
$screen-lg: 1020px;

$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;

// -------------------------------
// GLOBAL
// -------------------------------

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}
body {
	overflow: hidden;
	background-color:#fff;
	line-height:1.5;
	text-rendering: optimizeLegibility;
	color: $color;
	font-size: 14px;
	font-family: $font;
}


a, a:before, a:after {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	        transition: all .25s;
}
a, a:visited {
	color: $color-gold;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-darker;
	font-weight: 600;
}

h1, h2 {line-height: 1.2}

h2 {
	font-size: 21px;
}

blockquote {
	font-style:italic !important;
	margin-bottom: 15px;
  background: #f2f2f1;
  border-left: 2px solid #ddd;
  padding: 15px;
}

img {
	max-width: 100%;
	height: auto;
}

::selection {
	color: #fff;
	background-color: $color-gold;
}

::-moz-selection {
	color: #fff;
	background-color: $color-gold;
}

.container {
	max-width: 1020px;
	padding: 0 $margin*2;
	margin: 0 auto;

	@media (max-width: $screen-md-max) {
		max-width: $screen-md;
	}

	@media (max-width: $screen-sm-max) {
		max-width: $screen-sm;
	}
}

.main {
	margin: $margin*3 0 $margin*4;
	@include clearfix;
}

.content__main {
	margin-bottom: $margin*3;
	padding-bottom: $margin*3;
	border-bottom: 1px solid #ddd;

	@media (min-width: $screen-md) {
		float: left;
		@include calc(width, '100% - 330px');
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.content__side {
	@media (min-width: $screen-md) {
		float: right;
		width: 300px;
	}
}

// -------------------------------
// HEADER
// -------------------------------

.header {
	padding: 40px 0 $margin*2;

	@media (max-width: $screen-sm-max) {
		text-align: center;
	}
}

.logo {
	display: inline-block;
	width: 246px;
	height: 80px;
	background: url(../img/logo.png) no-repeat;
	background-size: 246px 80px;
	@include hide-text;
}

.site-description {
	display: inline-block;
	color: $color-lighter;
	font-weight: 400;
	font-size: 13px;
	max-width: 180px;
	vertical-align: 24px;

	@media (max-width: $screen-sm-max) {
		max-width: none;
	}
}

.title-bar {
	background-color: $color-lightgrey;
	padding: 20px 0;

	.container {
		position: relative;
	}

	.page-title {
		font-size: 16px;
		margin-bottom: 0;
		font-weight: 400;
		color: $color-darker;
		font-family: $font-courier;

		span {
			color: $color-lighter;
		}
	}

	.deals.single & {
		background-color: $color-deal;

		.article__title {
			color: #fff;
		}

		.article__time {
			color: rgba(#fff, .7);
		}

		.article__cat {
			a {
				background-color: #fff;
				color: $color-deal;

				&:hover {
					background-color: #fff;
					opacity: .8;

					&:after {
						border-left-color: #fff;
					}
				}

				&:after {
					border-left-color: #fff;
				}
			}
		}
	}

	@media (max-width: $screen-sm-max) {
		text-align: center;
	}
}

// -------------------------------
// LOOP
// -------------------------------

.loop {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);
	list-style: none;
	padding-left: 0;
	margin: 0 (-$margin);

	> li {
		width: 330px;
		padding: 0 $margin;
		margin-bottom: $margin*5;
	}
}

// -------------------------------
// ARTICLE
// -------------------------------

.article__image {
	position: relative;

	img {
		display: block;
		box-shadow: $box-shadow;
		@include transition(box-shadow .1s linear);
	}

	a:hover {
		img {
			box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
		}
	}
}

h2.article__title {
	margin-bottom: 5px;
	margin-top: $margin;

	a {
		color: $color-darker;

		&:hover {
			color: $color-gold;
			text-decoration: none !important;
		}
	}
}

.article__time {
	font-family: $font-courier;
	margin-bottom: $margin;
	color: $color-lighter;
}

.article__cat {
	font-size: 12px;

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;

		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	a {
		display: block;
		background: $color-gold;
		color: #fff;
		line-height: 22px;
		padding: 0 6px;
		position: relative;

		&:hover {
			background-color: darken($color-gold,5);
			text-decoration: none !important;

			&:after {
				border-left-color: darken($color-gold,5);
			}
		}

		&:after {
			width: 0;
			height: 0;
			border-width: 11px 8px;
			border-style: solid;
			border-color: transparent;
			border-left-color: $color-gold;
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
		}

		.category-deals & {
			background: $color-deal;

			&:hover {
				background-color: darken($color-deal,5);

				&:after {
					border-left-color: darken($color-deal,5);
				}
			}

			&:after {
				border-left-color: $color-deal;
			}
		}
	}
}

.article__title {
	font-family: $font;
	margin-bottom: 0;

	@media (min-width: $screen-md) {
		.single.deals & {
			padding-right: 100px;
		}
	}

}

.font__info {
	list-style: none;
	padding-left: 0;
}

.font__download {
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
	text-align: center;
	padding: $margin*2;
	margin: $margin*2 0;

	&__info {
		margin-top: 20px;
		font-size: 14px;
		color: $color-lighter;

		p {
			margin-bottom: 0;
		}

		a {
			color: $color-lighter;
			text-decoration: underline;
		}
	}
}

.single, .page {
	.title-bar {
		padding-bottom: 30px;
	}

	.article__content {
		font-size: 16px;

		> p:first-child::first-line {
			font-weight: 600;
		}
	}
}

.page {
	.title-bar {
		padding-bottom: 20px;
	}
}

.article__content {
	* + h2, * + h3, * + h4, * + h5, * + h6 {
		margin-top: $margin*2;
	}

	*:last-child {
		margin-bottom: 0;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

[class*="wp-image"] {
	box-shadow: $box-shadow;
}

.font__featured-image {
	+ .font__featured-image {
		margin-top: $margin*3;
	}
}

.deal__price-sticker {
	width: 60px;
	height: 60px;
	background-color: $color-gold;
	line-height: 60px;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
	border-radius: 50%;

	.article__image & {
		position: absolute;
		top: 10px;
		right: 10px;
		box-shadow: $box-shadow;
	}

	.title-bar & {
		position: absolute;
		right: $margin*2;
		top: 50%;
		@include transform(translateY(-50%));
		background-color: #fff;
		color: $color;
		width: 72px;
		height: 72px;
		line-height: 72px;
		font-size: 21px;

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}


// -------------------------------
// SIDEBAR
// -------------------------------

.content__side {
	color: $color-lighter;

	ul {
		list-style: none;
		padding-left: 0;
	}

	> ul {
		> li {
			&:not(:last-child) {
				margin-bottom: $margin*3;
				position: relative;

				&:after {
					content: '';
					width: $margin*2;
					height: 1px;
					background-color: #ddd;
					position: absolute;
					left: 0;
					bottom: (-$margin*2);
				}
			}
		}
	}

	h2 {
		font-size: 18px;
	}

	.widget {
		li {
			padding: 5px 0;
		}
	}
}


// -------------------------------
// FORM
// -------------------------------
.btn {
	padding: 0 $margin*2;
	display: inline-block;
	border: 2px solid $color-gold;
	height: 44px;
	line-height: 40px;

	&:hover, &:focus {
		background-color: $color-gold;
		color: #fff;
		text-decoration: none !important;
	}
}
.form-group {
	position: relative;
}
.form-control {
	border: none;
	background-color: #eee;
	padding: 14px $margin;
	display: block;
	width: 100%;

	&:focus, &:focus {
		outline: 0;
		background-color: #f3f3f3;
	}
}

.btn-download {
	text-transform: uppercase;
	font-weight: 600;
	padding-left: $margin*3;
	padding-right: $margin*3;

	.deals & {
		border-color: $color-deal;
		color: $color-deal;

		&:hover, &:focus {
			background-color: $color-deal;
			color: #fff;
		}
	}
}

.btn-search {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	padding: 0;
	padding-top: 6px;

	g {
		fill: $color;
	}
}


// -------------------------------
// PAGINATION
// -------------------------------
.wp-pagenavi {
	text-align: center;
	background: $color-lightgrey;

	> * {
		// margin: 0 5px;
		display: inline-block;
		padding: 12px $margin;
	}

	.current {
		font-weight: 600;
		color: $color-darker;
	}

	a {
		color: $color-lighter;
		&:hover {
			background-color: $color-gold;
			color: #fff;
		}
	}
}



// -------------------------------
// FOOTER
// -------------------------------
.footer {
	border-top: 1px solid #e9e9e9;

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

.logo--footer {
	width: 180px;
	height: 59px;
	background-size: cover;
	margin-bottom: $margin;
}

.footer__top {
	padding: $margin*4 0 $margin*3;
}

.footer__top__menu {
	list-style: none;
	margin-bottom: 0;
	@include clearfix;
	margin: 0 (-$margin);
	padding-left: 0;

	> li {
		float: left;
		padding: 0 $margin;

		@media (max-width: $screen-md-max) {
			float: none;
			margin-bottom: $margin*2;
		}

		&:nth-child(odd) {
			width: percentage(1/6);

			@media (max-width: $screen-md-max) {
				width: auto;
			}
		}
		&:nth-child(even) {
			width: percentage(1/3);

			@media (max-width: $screen-md-max) {
				width: auto;
			}
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	.widget {
		ul {
			&:last-child {
				margin-bottom: 0;
			}
		}

		li {
			padding: 5px 0;
			margin-bottom: 5px;
		}

		&:not(:last-child) {
			margin-bottom: $margin*2;
		}
	}

	.widget_categories {
		ul {
			@include clearfix;

			li {
				@media (max-width: $screen-md-max) {
					float: left;
					width: 50%;
				}

			}
		}
	}
}



.tagcloud {
	a {
		display: block;
		padding: 5px 0;
		margin-bottom: 5px;
	}

	.footer__top li:nth-child(2) & {
		overflow: hidden;
		a {
			float: left;
			width: 50%;
		}
	}
}


.footer__bottom {
	text-align: center;
	color: $color-lighter;
	background-color: $color-lightgrey;
	padding: $margin*3 0 $margin*2;
	font-size: 13px;
}


// -------------------------------
// AD
// -------------------------------

.ad__leaderboard {
	margin: $margin*2 0;
	text-align: center;

	&--bottom {
		margin-top: 0;
	}
}


// -------------------------------
// 404
// -------------------------------

.title__404 {
	padding: 0 $margin;
	text-align: center;
}

// -------------------------------
// MISC
// -------------------------------

.color-deal {
	color: $color-deal;
}